# compiled output
/dist
/release
src/**/*.js
!src/karma.conf.js
*.js
*.js.map
!postinstall.js
!postinstall-web.js
scripts/*.js
scripts/*.js.map
!scripts/get-pkg-version.js

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.vscode
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json
yarn.lock
yarn-error.log

# e2e
/e2e/*.js
!/e2e/protractor.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db