$Black: black;
$BackgroundBlue: #333b55;
$GreenDark: #2dd597;
$GreyDark: #38405b;
$GreyMiddle: #495679;
$GreyMiddle2: #6a789e;
$GreyLight: #b9bfce;
$GreyLight2: rgb(132, 140, 158);
$Light: #e2e9fc;

$Orange: #f5a623;
$Red: rgb(245, 35, 81);
