:host {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 1;
  // height: calc(100% + 20px);
  // max-height: calc(92vh - 68px);
  margin-top: -20px;
  // Temporary disabled virtaul scroll
  // Waiting until will all envirement will be up to date
  overflow-y: scroll;

  virtual-scroller {
    flex-grow: 1;
  }

  ::ng-deep {
    .scrollable-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, 204px);
      justify-content: space-between;
      padding: 0px 24px 100px 24px;
    }
  }
}

.file {
  width: 204px;
  min-height: 224px;
  padding: 14px 16px;
  border-radius: 13px;
  margin-bottom: 6px;
  transition: background-color ease 0.1s, box-shadow ease 0.1s;
  will-change: background-color, box-shadow;

  &:hover {
    background-color: var(--grid-view-file-hover-bg);
    box-shadow: var(--grid-view-file-hover-shadow);
    transition: background-color ease 0.1s 0.1s, box-shadow ease 0.1s 0.1s;
    will-change: background-color, box-shadow;

    .preview {
      box-shadow: var(--grid-file-preview-shadow-hover);
      transition: box-shadow 0.4s 0.1s;
      will-change: box-shadow;

      .file-format {
        opacity: 1;
      }
    }

    .desc {
      .name {
        color: var(--grid-view-file-name-hover);
      }
    }
  }

  &.selected {
    background-color: var(--grid-view-file-selected-bg);
    box-shadow: var(--grid-view-file-selected-shadow);
    transition: box-shadow ease 0.1s;
    will-change: box-shadow;

    &,
    &:hover {
      .preview {
        background-color: #fff;
      }

      .desc {
        .name {
          color: var(--grid-view-file-name-hover);
        }
      }
    }

    &:hover .preview {
      box-shadow: 0 10px 23px -10px rgba(15, 9, 64, 0.43);
    }
  }

  .preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 172px;
    padding: 10px;
    background-color: var(--grid-file-preview-bg);
    border-radius: 5px;
    margin-bottom: 12px;
    transform-style: preserve-3d;
    box-shadow: var(--grid-file-preview-shadow);
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      -webkit-app-region: no-drag;
    }

    &.double:after {
      content: "";
      position: absolute;
      border-radius: 0 0 5px 5px;
      left: 6px;
      right: 6px;
      bottom: -6px;
      height: 6px;
      opacity: 0.5;
      background-color: var(--container-bg);
      box-shadow: 0 2px 6px 0 rgba(15, 9, 64, 0.03);
    }

    &.sketch {
      background-image: url("../../../../assets/img/sketch-icon.png");
      background-repeat: no-repeat;
      background-size: 100px 100px;
      background-position: center;
    }

    .image {
      transform: translateZ(0);
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 2px;
    }

    .file-format {
      position: absolute;
      top: 12px;
      left: 12px;
      display: inline;
      opacity: 0;
      background: var(--grid-view-file-format-bg);
      border-radius: 3px;
      font-size: 10px;
      line-height: 14px;
      color: var(--grid-view-file-format-fg);
      text-align: center;
      text-transform: uppercase;
      padding: 0 6px;
      user-select: none;
      transition: opacity 0.4s;
      will-change: opacity;
    }
  }
  .desc {
    font-size: 11px;
    font-weight: normal;
    padding: 0 10px;
    text-shadow: var(--grid-view-file-desc-shadow);

    .name {
      color: var(--grid-view-file-name);
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 4px;
      word-break: break-all;
    }

    .not-optimized-label,
    .file-size,
    .file-percentage {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 11px;
      color: var(--grid-view-file-stat);
      line-height: 18px;
    }

    .file-size {
      margin: 0 10px;
    }
    .not-optimized-label {
      div div {
        display: flex;
        align-items: center;
        font-weight: var(--grid-view-file-stat-font-style);
        color: var(--grid-view-file-stat);
      }
      .label {
        width: 8px;
        height: 8px;
        margin-right: 6px;
        border-radius: 50%;
        background-color: #fcdf0a;
        box-shadow: 0 2px 10px unquote("#f9bf1580"), 0 1px 0 rgba(0, 0, 0, 0.08);
        &.needs-updating {
          background-color: #f9bf15;
        }
        &.not-found {
          background-color: rgb(245, 35, 81);
          box-shadow: 2px 0 10px rgba(245, 35, 81, 0.5);
        }
      }
    }
  }
}

.grid-view {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fill, 204px);
  justify-content: space-between;
  padding: 0px 24px 100px 24px;
}
