:host {
  position: relative;
  display: flex;
  flex-grow: 1;
  transition: all ease-in-out 0.3s;
}

.home-container {
  position: relative;
  margin: 3.5vh 3.5vh 4.5vh 0;
  width: 100%;
  min-width: 680px;
  user-select: none;
  overflow-y: scroll;
  background: var(--home-bg);
  border-radius: 13px 21px 34px;
  box-shadow: var(--home-shadow);
}
