:root {
  --navigation-height: 42px;
  --sub-navigation-width: 230px;
}

:host {
  z-index: 2;
}

@mixin slim-navigation {
  min-width: auto;
  max-width: 77px;
  padding: 40px 8px 20px 8px;

  .title {
    display: none;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;

    .notification {
      opacity: 1;
      position: absolute;
      top: 6px;
      right: 11px;
      border-radius: 50%;
      height: 9px;
      width: 9px;
      background-image: linear-gradient(#fcdf0a 0%, #f9bf15 100%);
      transition: opacity 0.1s;
      will-change: opacity;
    }
  }

  .navigation-item {
    border-radius: 5px;
  }

  .navigation-sets {
    position: relative;
    border-radius: 5px;
    flex-grow: 0;

    &.active {
      color: var(--body-fg-95);
      background-color: var(--body-bg-25);
      box-shadow: inset 0 1px 14px rgba(0, 0, 0, 0.18);
      transition: background-color 0.3s;
      will-change: background-color;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60px;
      z-index: 1000;
    }

    .add-set {
      opacity: 0;
      display: none;
    }

    .sets {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      max-height: 0;
      padding: 48px 0 0;
      border-radius: 12px 20px 24px 20px;
      overflow: hidden;
      background-color: var(--navigation-context-menu-bg);
      box-shadow: var(--navigation-context-menu-shadow);
      z-index: 999;

      .subitem {
        .subitem-inner {
          width: 0;
          border-radius: 0;
          padding-left: 34px;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .subitem:last-child {
        .subitem-inner {
          border-radius: 0 0 20px 20px;
        }
      }
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      padding-left: 20px;
      border-bottom: var(--navigation-context-menu-border);
      z-index: 1000;
    }

    &:hover {
      &.active {
        border-radius: 20px 5px 5px 5px;
        transition: border-radius ease-out 0.2s;
      }

      .navigation-set {
        .icon:before {
          transform: translateX(-100%);
          transition: none;
        }
      }

      .notification {
        opacity: 0;
        transition: opacity ease-out 0.05s;
        transition-delay: 0.1s;
      }

      .title,
      .sets {
        width: 230px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: nowrap;
      }

      .title {
        display: block;
        line-height: 42px;
        animation: addSetIconAppear ease-out 0.2s;
        transition-delay: 0.1s;
      }

      .sets {
        height: auto;
        max-height: 70vh;
        transition: width 0.15s ease-in-out, max-height 0.075s ease-out;
        will-change: width, max-height;
        transition-delay: 0.1s;

        .subitem {
          animation: addSetIconAppear ease-out 0.2s;
          .subitem-inner {
            max-width: var(--sub-navigation-width);
            width: var(--sub-navigation-width);
            transition: width 0.3s ease-in-out, padding 0.1s ease-in-out;

            &:hover:not(.set-active) {
              padding-left: 42px;
            }

            &.set-active {
              color: var(--body-fg);
            }
          }
        }
      }

      .add-set {
        position: absolute;
        display: flex;
        width: 28px;
        top: 8px;
        left: 192px;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.2);
        animation: addSetIconAppear ease-out 0.35s;

        &:hover {
          background-color: var(--accent-color);
        }
      }

      .icon {
        .notification {
          opacity: 0;
        }
      }
    }
  }

  .feedback {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-shadow: none;
    border: none;
    box-shadow: none;
    border-radius: 6px;

    .icon {
      display: block;
      text-shadow: var(---navigation-item-shadow);
    }

    .title {
      display: none;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 234px;
  height: 100vh;
  color: var(--body-fg);
  padding: 40px 14px 20px;
  user-select: none;
  z-index: 9999;

  &.slim-nav {
    @include slim-navigation;
  }

  &.highlighted {
    background-image: linear-gradient(-180deg, #f8f9fa00 0, #e1e7eb4d 100%);
  }
}

@keyframes addSetIconAppear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 892px) {
  .nav {
    @include slim-navigation;
  }
}

.active {
  .navigation-set {
    .title {
      flex-grow: 1;
      opacity: 0.74;
    }
  }

  .icon {
    position: relative;
    color: var(--nav-active-icon);
    font-weight: 600;
    text-shadow: var(--nav-active-icon-shadow);
    transition: color ease-in-out 0.3s, text-shadow ease-in 0.6s;
    will-change: color, text-shadow;

    &:not(.icon-Add):before {
      content: "";
      position: absolute;
      width: 138px;
      height: 124px;
      background-color: var(--nav-accent-shadow);
      border-radius: 50%;
      left: -50px;
      top: -31px;
      filter: blur(33px);
      transition: transform 0.2s;
      transition-delay: 0.1s;
      pointer-events: none;
    }

    &.icon-Import {
      &:after {
        content: "􀈨";
      }
    }
    &.icon-Sets {
      &:after {
        content: "􀈪";
      }
    }
    &.icon-Settings {
      &:after {
        font-weight: 800;
      }
    }
    &.icon-Clipboard {
      &:after {
        content: "􀉄";
      }
    }
  }
}

.icon {
  position: relative;
  width: 50px;
  height: var(--navigation-height);
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  font-weight: 400;
  color: var(--navigation-icon-fg);
  text-shadow: var(--navigation-icon-shadow);
  transition: all 0.3s;

  &.icon-Import {
    &:after {
      content: "􀈧";
    }
  }
  &.icon-Sets {
    &:after {
      content: "􀈩";
    }
  }
  &.icon-Settings {
    &:after {
      content: "􀌆";
    }
  }
  &.icon-Import,
  &.icon-Sets,
  &.icon-Settings {
    transform: translateY(-2px);
  }

  &.icon-Clipboard {
    &:after {
      content: "􀉃";
    }
  }
  &.icon-Feedback {
    &:after {
      content: "􀈠";
    }
  }
}

.navigation-sets {
  min-height: 42px;
}

.navigation-sets,
.navigation-item {
  &:hover {
    &.active {
      .icon {
        color: var(--nav-active-icon);
      }
    }
    .icon {
      font-weight: 600;
      color: var(--navigation-icon-fg-hover);
      will-change: font-weight;
      transition: font-weight ease-in-out 0.2s, color ease-in 0.2s;
    }
  }
}

.navigation-item,
.navigation-set {
  display: flex;
  align-items: center;
  height: var(--navigation-height);
  font-weight: 600;
  font-size: 13px;
  border-radius: 10px;
  text-shadow: var(--navigation-item-shadow);
  transition: background-color 0.3s;
  will-change: background-color;

  &.active {
    .title {
      color: var(--body-fg);
    }
  }

  .add-set {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    transform: translateY(-2px);
    transition: background 0.2s, font-weight 0.2s;
    will-change: background, font-weight;

    &:hover {
      background: var(--accent-color);
      font-weight: 600;
      transition: background 0.2s;

      &:after {
        color: var(--body-fg-90);
        transition: color 0.15s;
      }
    }

    &:after {
      content: "􀅼";
      color: var(--body-fg-70);
      transition: color 0.15s;
    }
  }

  .title {
    flex-grow: 1;
    color: var(--body-fg-70);
    margin-bottom: 2px;
  }
}

.navigation-item.import {
  min-height: 42px;
  margin-bottom: 14px;
}
.navigation-item.settings {
  min-height: 42px;
  margin-bottom: 26px;
}

.clipboard-link {
  position: absolute;
  top: 46px;
  right: 4px;
  border-radius: 50%;
  text-shadow: var(---navigation-item-shadow);

  &.active {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 14px rgba(0, 0, 0, 0.13);
    transition: background-color 0.3s;
    will-change: background-color;
  }

  .icon {
    position: relative;
    font-size: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  &:hover {
    background: var(--accent-color);
    font-weight: 600;
    transition: background 0.2s;
    will-change: background;

    &:after {
      color: var(--body-fg-90);
      transition: color 0.15s;
    }
  }
}

.navigation-set {
  cursor: default;
}

.sets {
  flex-grow: 1;
  max-height: 100%;
  overflow-y: auto;

  .subitem {
    .subitem-inner.set-active {
      position: relative;
      border-radius: 10px;
      padding-left: 64px;
      background-color: var(--navigation-subitem-bg);
      box-shadow: var(--navigation-subitem-shadow);
      opacity: 0.96;
      transition: all 0.15s;
    }
    .subitem-inner {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 13px;
      color: var(--body-fg-70);
      border-radius: 10px;
      text-shadow: var(--navigation-item-shadow);
      height: 38px;
      padding-left: 60px;
      transition: padding-left 0.25s;
      word-wrap: break-word;
      word-break: break-all;
      transition: all 0.15s;
      max-width: 226px;
    }
  }
}

.new-files {
  font-weight: bold;
  font-size: 10px;
  color: var(--navigation-new-files-label-fg);
  text-shadow: none;
  text-align: center;
  line-height: 10px;
  margin: 0 8px;
  padding: 1px 4px 2px 4px;
  border-radius: 10px;
  background-image: var(--navigation-new-files-label-bg);
  box-shadow: var(--navigation-new-files-label-shadow);
}

.pd12 {
  padding-bottom: 12px;
}

.feedback {
  display: inline-block;
  margin: 0 8px;
  padding: 0 14px;
  font-weight: 600;
  font-size: 11px;
  line-height: 26px;
  color: var(--navigation-feedback-fg);
  text-align: center;
  text-shadow: var(---navigation-item-shadow);
  border: var(--navigation-feedback-boder);
  background-color: var(--navigation-feedback-bg);
  box-shadow: var(--navigation-feedback-shadow);
  border-radius: 6px;

  .icon {
    display: none;
  }
}
