[data-theme="light"] {
  --accent-color: rgb(13, 210, 167);
  --accent-color-2: #2dd597;
  --accent-color-dark: #239a70;

  --window-bg: url(./assets/img/window-background.png),
    linear-gradient(145deg, #f8f9fa 0, #99a2b394 100%);
  --widnow-bg-size: auto;

  --body-bg: #fff;
  --body-bg-25: rgba(255, 255, 255, 0.25);

  --body-fg: rgb(54, 53, 58);
  --body-fg-70: rgba(0, 0, 0, 0.7);
  --body-fg-90: rgba(0, 0, 0, 0.9);
  --body-fg-95: rgba(0, 0, 0, 0.95);

  --body-shadow: none;

  --container-fg: #fff;
  --container-fg-50: rgba(255, 255, 255, 0.5);
  --container-fg-75: rgba(255, 255, 255, 0.75);
  --container-bg: #5756614a;
  --container-bg-30: rgba(15, 9, 64, 0.3);
  --container-bg-60: rgba(15, 9, 64, 0.6);
  --container-bg-75: rgba(15, 9, 64, 0.75);

  --border: 1px dashed rgba(15, 9, 64, 0.34);

  --icon-container-fg: #0f0940;
  --icon-container-bg: rgba(#fff, 0.3);

  --content-bg: rgba(255, 255, 255, 0.39);

  --home-bg: #fff;
  --home-shadow: 0 5px 40px #4755632b;

  --title-shadow: none;

  --settings-container-bg: #f5f5f5;
  --settings-container-fg: #36353acc;
  --settings-dropdown: #fff;
  --setting-input-fg: #0f0940;
  --settings-input-bg: #f5f5f5;

  --toggle-off-bg: #0000000d;

  --hr-color: #56616b6e;

  /* Navigation */
  --nav-accent-shadow: rgba(0, 255, 201, 0.2);
  --nav-active-icon: rgb(0, 171, 133);
  --nav-active-icon-shadow: 0 1px 0px rgba(255, 255, 255, 0.66),
    0 0 51px #3bd6b452;

  --navigation-item-shadow: 0 0 22px #ffffff61;

  --navigation-icon-fg: rgba(0, 0, 0, 0.41);
  --navigation-icon-fg-hover: rgba(0, 0, 0, 0.41);
  --navigation-icon-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
  --navigation-icon-color-shadow: rgba(59, 214, 180, 0.1);

  --navigation-subitem-bg: rgba(0, 0, 0, 0.04);
  --navigation-subitem-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04),
    0 1px 0 rgba(255, 255, 255, 0.19);

  --navigation-new-files-label-fg: rgba(72, 60, 11, 0.81);
  --navigation-new-files-label-bg: linear-gradient(#f3d600 0, #f9bf15 100%);
  --navigation-new-files-label-shadow: 0 1px 1px rgba(0, 0, 0, 0.13),
    0 0 20px rgba(252, 223, 10, 0.73);
  --new-files-label-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 15px #fcdf0a;

  --navigation-feedback-fg: var(--body-fg-70);
  --navigation-feedback-bg: rgba(255, 255, 255, 0.5);
  --navigation-feedback-boder: 2px solid transparent;
  --navigation-feedback-shadow: none;

  --navigation-context-menu-bg: white;
  --navigation-context-menu-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --navigation-context-menu-border: 1px solid rgba(0, 0, 0, 0.1);

  /* Images */
  --images-illustration-bg: red;
  --images-view-mode-fg: #b9bfce;
  --images-view-mode-bg: #f5f5f5;
  --images-view-mode-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  --images-dropdown-fg: #b9bfce;
  --images-dropdown-bg: #f5f5f5;
  --images-shortcut-fg: rgba(0, 0, 0, 0.34);
  --images-button-shadow: 0 2px 36px 0 #07d08d40,
    inset 0 1px 0 0 rgba(255, 255, 255, 0);
  --button-shadow: 0 4px 43px 0 rgba(45, 217, 179, 0.76),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

  /* Import */
  --import-bg-1: url(./assets/img/import_light.svg);
  --import-bg-2: url(./assets/img/import-2_light.svg);

  /* Grid View */
  --grid-file-preview-bg: #f5f5f5;
  --grid-file-preview-shadow: inset 0 0px 3px 0 rgba(89, 106, 123, 0.03);
  --grid-file-preview-shadow-hover: 0 15px 48px -10px rgba(160, 161, 162, 0.55),
    0 0 1px 1px #0000000a;
  --grid-view-file-name: #83858ae3;
  --grid-view-file-name-hover: var(--body-fg-70);
  --grid-view-file-stat: rgba(54, 53, 58, 0.6);
  --grid-view-file-desc-shadow: 0 1px 0 #ffffff52;
  --grid-view-file-stat-font-style: 400;

  --grid-view-file-hover-bg: rgba(255, 255, 255, 0.55);
  --grid-view-file-hover-shadow: 0 1px 0 0 rgba(#6a789e, 0.08);

  --grid-view-file-selected-bg: #949cb030;
  --grid-view-file-selected-shadow: inset 0 0 24px rgba(0, 0, 0, 0.05);

  --grid-view-file-format-fg: #fff;
  --grid-view-file-format-bg: #464654d4;

  /* Table */
  --table-even-row-bg: rgba(0, 0, 0, 0.02);
  --table-file-format-fg: rgba(0, 0, 0, 0.38);
  --table-file-format-bg: #46465412;
  --table-file-format-font-weight: 400;

  /* Preview */
  --preview-fg: rgba(30, 29, 45, 0.51);
  --preview-text-shadow: none;
  --preview-title-shadow: none;
  --preview-title-shadow2: none;
  --preview-title-format: #49565f9e;
  --preview-img-bg: #fff;
  --preview-shadow: 0 38px 27px -27px rgba(195, 198, 204, 0.8),
    0 19px 13px -32px rgba(195, 198, 204, 0.8),
    0 8px 6px -38px rgba(173, 198, 204, 0.8);
  --preview-tabs-shadow: none;
  --preview-tabs-fg-active: rgba(0, 0, 0, 0.8);
  --preview-tabs-fg: #2d2f31a1;
  --preview-buttons-fg: var(--images-dropdown-fg);
  --preview-buttons-bg: #fff;
  --preview-header-stat: #2a2c33cc;
  --preview-code-bg: #fff;
  --preview-stat-icon-fg: #99a0a59e;

  /* Empty Set */
  --empty-state-message-fg: rgba(68, 66, 82, 0.75);
  --empty-state-add-files-fg: rgba(68, 66, 82, 0.75);
  --empty-state-add-files-bg: var(--images-dropdown-bg);
  --empty-state-tip-border: 1px solid rgba(0, 0, 0, 0.1);
  --empty-state-tip-icon: #ecbd00;
  --empty-state-tip-message-fg: rgba(68, 66, 82, 0.75);
  --empty-state-tip-button-bg: var(--images-dropdown-bg);
}
