[data-theme="ultra-dark"] {
  --accent-color: rgb(59, 214, 180);
  --accent-color-2: #2dd597;

  --window-bg: url(./assets/img/window-background.png);
  --widnow-bg-size: 32px;

  --body-bg: #0f0940;
  --body-bg-25: rgba(0, 0, 0, 0.25);

  --body-fg: #fff;
  --body-fg-70: rgba(255, 255, 255, 0.7);
  --body-fg-90: rgba(255, 255, 255, 0.9);
  --body-fg-95: rgba(255, 255, 255, 0.95);

  --body-shadow: inset -10px 1px 320px -10px rgba(22, 29, 47, 0.8);

  --container-fg: #0f0940;
  --container-fg-50: rgba(15, 9, 64, 0.5);
  --container-fg-75: rgba(15, 9, 64, 0.75);
  --container-bg: #fff;
  --container-bg-30: rgba(255, 255, 255, 0.3);
  --container-bg-60: rgba(255, 255, 255, 0.6);
  --container-bg-75: rgba(255, 255, 255, 0.75);

  --border: 1px dashed rgba(255, 255, 255, 0.34);

  --icon-container-fg: #fff;
  --icon-container-bg: rgba(255, 255, 255, 0.3);

  --content-bg: rgba(46, 51, 58, 0.39);

  --home-bg: rgba(62, 68, 76, 0.75);
  --home-shadow: 0 5px 40px #00000033;

  --title-shadow: 0 1px 3px rgba(0, 0, 0, 0.29);

  --settings-container-bg: rgba(0, 0, 0, 0.4);
  --settings-container-fg: var(--body-fg);
  --settings-dropdown: rgb(248, 248, 248);
  --settings-input-fg: var(--container-fg-75);
  --settings-input-bg: #fff;

  --toggle-off-bg: #00000054;

  --hr-color: #56616b;

  /* Navigation */

  --nav-accent-shadow: rgba(59, 214, 180, 0.17);
  --nav-active-icon: var(--accent-color);
  --nav-active-icon-shadow: 0 2px 10px rgba(0, 0, 0, 0.6),
    0 0 51px var(--accent-color);

  --navigation-item-shadow: 0 1px 2px rgba(15, 9, 64, 0.68);

  --navigation-icon-fg: rgba(255, 255, 255, 0.61);
  --navigation-icon-fg-hover: rgba(255, 255, 255, 0.8);
  --navigation-icon-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
  --navigation-icon-color-shadow: rgba(59, 214, 180, 0.17);

  --navigation-subitem-bg: rgba(0, 0, 0, 0.25);
  --navigation-subitem-shadow: inset 0 0 30px rgba(0, 0, 0, 0.09),
    0 1px 0 rgba(255, 255, 255, 0.02);

  --navigation-new-files-label-fg: var(--container-fg);
  --navigation-new-files-label-bg: linear-gradient(#fcdf0a 0%, #f9bf15 100%);
  --navigation-new-files-label-shadow: 0 1px 1px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(252, 223, 10, 0.4);
  --new-files-label-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 15px #fcdf0a;

  --navigation-feedback-fg: var(--body-fg-90);
  --navigation-feedback-bg: transparent;
  --navigation-feedback-boder: 2px solid rgba(185, 191, 206, 0.34);
  --navigation-feedback-shadow: 1px 2px 0 rgba(62, 68, 76, 0.3),
    inset 0 1px 2px 0 rgba(62, 68, 76, 0.3);

  /* Images */
  --images-view-mode-fg: var(--body-fg);
  --images-view-mode-bg: var(--container-bg-30);
  --images-view-mode-shadow: none;
  --images-dropdown-fg: rgba(255, 255, 255, 0.75);
  --images-dropdown-bg: var(--container-bg-30);
  --images-shortcut-fg: rgba(255, 255, 255, 0.34);

  --button-shadow: 0 4px 43px 0 rgba(45, 217, 179, 0.76),
    inset 0 -1px 0 0 #0f422f91;

  /* Grid View */
  --grid-file-preview-bg: #fff;
  --grid-file-preview-shadow: 0 2px 6px 0 rgba(15, 9, 64, 0.03);
  --grid-file-preview-shadow-hover: 0 10px 23px -10px rgba(15, 9, 64, 0.23);
  --grid-view-file-name: rgba(255, 255, 255, 0.97);
  --grid-view-file-name-hover: rgba(255, 255, 255, 0.97);
  --grid-view-file-stat: rgba(255, 255, 255, 0.6);
  --grid-view-file-desc-shadow: none;
  --grid-view-file-stat-font-style: 600;

  --grid-view-file-hover-bg: rgba(0, 0, 0, 0.28);
  --grid-view-file-hover-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);

  --grid-view-file-selected-bg: rgba(0, 0, 0, 0.28);
  --grid-view-file-selected-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);

  --grid-view-file-format-fg: var(--container-fg-50);
  --grid-view-file-format-bg: #efefef;

  /* Table */
  --table-even-row-bg: rgba(0, 0, 0, 0.09);
  --table-file-format-fg: rgba(255, 255, 255, 0.5);
  --table-file-format-bg: #0000004a;
  --table-file-format-font-weight: 800;

  /* Preview */
  --preview-fg: #f3f3f3;
  --preview-text-shadow: 0 2px 6px rgba(30, 29, 45, 0.8);
  --preview-title-shadow: 0 2px 6px rgba(30, 29, 45, 0.8);
  --preview-title-shadow2: 0 3px 9px rgba(0, 0, 0, 0.29);
  --preview-title-format: var(--body-fg);
  --preview-img-bg: var(--container-bg);
  --preview-shadow: 0 38px 27px -27px rgba(30, 29, 45, 0.8);
  --preview-tabs-shadow: 0 1px 2px rgba(30, 29, 45, 0.68);
  --preview-tabs-fg-active: rgba(255, 255, 255, 0.8);
  --preview-buttons-bg: var(--icon-container-bg);
  --preview-buttons-fg: var(--icon-container-fg);
  --preview-header-stat: var(--preview-fg);
  --preview-code-bg: var(--preview-tabs-fg);
  --preview-stat-icon-fg: #99a0a59e;

  /* Empty Set */
  --empty-state-message-fg: #fff;
  --empty-state-add-files-fg: rgba(255, 255, 255, 0.9);
  --empty-state-add-files-bg: rgba(0, 0, 0, 0.22);
  --empty-state-tip-border: 1px solid rgba(0, 0, 0, 0.1);
  --empty-state-tip-icon: #ffcc00;
  --empty-state-tip-message-fg: rgba(255, 255, 255, 0.75);
  --empty-state-tip-button-bg: rgba(0, 0, 0, 0.13);
}
